includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    ignoreErrors:
        # Doctrine DBAL

        - '#Cannot call method fetchAllAssociative\(\) on Doctrine\\DBAL\\ForwardCompatibility\\Result\|int\|string#'
